@model NPGeek.Web.Models.Park
@{
    ViewBag.Title = "ParkDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Weather = Json.Decode(Model.Weather);
    var Today = Weather[0];
    Dictionary<string, string> weatherAdvice = new Dictionary<string, string>()
    {
        { "rain" , "Pack rain gear and wear waterproof shoes." },
        { "partly cloudy", "Don't bother bringing sunscreen!"},
        { "thunderstorms", "Seek shelter and avoid hiking on exposed ridges." },
        { "cloudy", "Don't bother bringing sunscreen!" },
        { "sunny", "pack sunblock." },
        { "snow", "pack snowshoes."},
    };
    var High = Today.High;
    var Low = Today.Low;
    string HotToday = (High > 75) ? "Bring an extra gallon of water." : "";
    string ColdToday = (Low < 20) ? "Be cautious of the danger of exposure to frigid temperatures" : "";
    string VariableTemperatureToday = (Math.Abs(High - Low) > 20) ? "Wear breathable layers" : "";
}

<h2>ParkDetail</h2>
<img src="~/Content/Images/parks/@(Model.ParkCode.ToLower()).jpg"/>
<div class="detail-park-name"><h1>@Model.Name</h1></div>
<div class="detail-park-description"><p>@Model.Description</p></div>
<br />
<div class="weather-detail-today">
    <h3>Today</h3>
    <img src="~/Content/Images/weather/@(Today.Forecast).png" />
    <div class="weather-detail-today-highlow">High: <span class="weather-conversion"> @Today.High</span>&deg; Low: <span class="weather-conversion">@Today.Low</span>&deg;</div>
    <p>@weatherAdvice[Today.Forecast]</p>
    <p>@HotToday</p>
    <p>@ColdToday</p>
    <p>@VariableTemperatureToday</p>
</div>
<div class="detail-four-day-forecast">
    @for (int i = 1; i <= 4; i++) //4 is the number of days left in the five day forecast after having shown todays information
    {
    <div class="weather-detail-day">
        <img src="~/Content/Images/weather/@(Weather[i].Forecast.Replace(" ", "")).png" />
        <p>High: <span class="weather-conversion">@Weather[i].High</span>&deg;</p>
        <p>Low: <span class="weather-conversion">@Weather[i].Low</span>&deg;</p>
    </div>
    }
</div>
<button onclick="WeatherConversion()">Toggle F&deg;/C&deg;</button>



